 body {

  border-radius: 10px;
  background-color: rgb(178, 235, 242);
  
 

}  

/*timepicker style*/
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  padding-left: 0;
  padding-right: 0;
  width: 100px;
}

.react-datepicker__input-container {
  width: inherit;
}

.react-datepicker-wrapper {
  width: 100%;
}


/*home page styles*/

.masthead {

  /* background-image: linear-gradient(
          135deg,
          
          rgb(24, 42, 115) 0%,
          rgb(33, 138, 174) 69%,
          rgb(32, 167, 172) 89%
  ) !important; */

   background-color: rgb(241, 67, 136) !important; 
  /* background-image: url('./assets/') !important; */
}

.masthead.segment {
 
  display: flex;
  min-height: 800px;
  padding: 1em 0 !important;
  /* 700px */
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0;
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.footer.segment {
  padding: 5em 0;
}

.secondary.inverted.pointing.menu {
  border: none;
}

/*end home page styles*/

/* navbar styles */

.ui.menu .item img.logo {
  size: 100%;
  margin-right: 1.5em;
}




.ui.fixed.menu {
  background-color:  #ff1744;
  height:80px;
  
}

.ui.main.container,
.main.segment {

  
   margin-top: 7em; 
}

.ui.center.aligned.segment.attendance-preview {
  
    background-color: #f5f5f5;   
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.ui.menu .item>img:not(.ui) {
  margin-right: 1.5em !important;
}

.ui.menu:not(.vertical) .item>.button {
  margin-left: 0.5em;
}

/*chat comments*/

.ui.comments .comment .comments {
  padding-bottom: 0 !important;
  padding-left: 2em !important;
}


/* photoshop css */

.Home_1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1366px;
  height: 768px;
  z-index: 33;
}
.recentact_circle {
  border-radius: 50%;
  background-color: rgb(255, 193, 7);
  position: absolute;
  left: 1211px;
  top: 261px;
  width: 94px;
  height: 94px;
  z-index: 32;
}
.Ellipse_3 {
  border-radius: 50%;
  background-color: rgb(241, 67, 136);
  position: absolute;
  left: 53px;
  top: 247px;
  width: 108px;
  height: 108px;
  z-index: 31;
}
/* .Layer_5 {
  background-image: url("./assets/Layer_5.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0px;
  height: 0px;
  z-index: 24;
} */
.Ellipse_2 {
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 40px;
  top: 235px;
  width: 134px;
  height: 134px;
  z-index: 23;
}

.Layer_2 {
  background-image: url("./assets/Layer_2.png");
  position: absolute;
  left: 73px;
  top: 504px;
  width: 532px;
  height: 88px;
  z-index: 18;
}
.Rounded_Rectangle_4 {
  border-radius: 10px;
  background-color: rgb(241, 67, 136);
  position: relative;
   left: 73px;
  top: 283px;
  width: 532px;
  height: 393px;
   z-index: 17;  
}
.Ellipse_1 {
  border-radius: 50%;
  background-color: rgb(29, 233, 182);
  position: absolute;
  left: 1195px;
  top: 245px;
  width: 125px;
  height: 127px;
  z-index: 10;
}
.Rounded_Rectangle_1 {
  border-radius: 10px;
  background-color: rgb(29, 233, 182);
  position: absolute;
  left: 688px;
  top: 270px;
  width: 605px;
  height: 406px;
  z-index: 9;
}
.Rounded_Rectangle_3 {
  border-radius: 10px;
  background-color: rgb(41, 121, 255);
  position: absolute;
  left: 643px;
  top: 213px;
  width: 695px;
  height: 506px;
  z-index: 7;
}
.Rectangle_1 {
  background-color: rgb(255, 23, 68);
  position: absolute;
  left: 16px;
  top: 56px;
  width: 1331px;
  height: 82px;
  z-index: 4;
}
.lightblue_round {
 direction: flex;
  border-radius: 10px;
  background-color: rgb(178, 235, 242);
  position: absolute;
  left: 25px;
  top: 176px;
  width: 1326px;
  height: 570px;
  z-index: 3;
}
.Rounded_Rectangle_2 {
  border-radius: 10px;
  background-color: rgb(204, 204, 204);
  position: absolute;
  left: 25px;
  top: 176px;
  width: 1326px;
  height: 570px;
  z-index: 2;
}

.buttonNav{
  color:#ffc107; 
}
